/*
* Color Palette
*/
/* factor*/
.factor {
  /* page header factor */
  /* factor page */
  /* footer-factor */
}
.factor .page-header-factor {
  padding-top: 56px;
  margin-bottom: 23px;
}
.factor .page-header-factor .content-header .pay-situation .text-pay-situation {
  display: inline-block;
  vertical-align: middle;
}
.factor .page-header-factor .content-header .pay-situation .text-pay-situation .text-situation {
  color: #737373;
  font-size: 15px;
  font-weight: 500;
  margin-left: 15px;
}
.factor .page-header-factor .content-header .pay-situation .pay-situation-content {
  display: inline-block;
  vertical-align: middle;
}
.factor .page-header-factor .content-header .pay-situation .pay-situation-content .text-info {
  display: inline-block;
  vertical-align: middle;
  color: #ff3600 !important;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #ff3600;
  padding: 8px 41px;
}
.factor .factor-page {
  /* bill information */
  /* bill list */
  /* Payments Method */
}
.factor .factor-page .bill-information {
  margin-bottom: 30px;
}
.factor .factor-page .bill-information .block-bill-information {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 34px 34px 34px 139px;
}
.factor .factor-page .bill-information .block-bill-information .bill-text {
  color: #737373;
  font-size: 15px;
  font-weight: 500;
}
.factor .factor-page .bill-information .block-bill-information .bill-name-information {
  margin-bottom: 24px;
}
.factor .factor-page .bill-information .block-bill-information .bill-date-information {
  margin-bottom: 24px;
}
.factor .factor-page .checkout-table {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: #ffffff;
}
.factor .factor-page .checkout-table table {
  width: 100%;
}
.factor .factor-page .checkout-table table thead {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 700;
  border-bottom: solid 1px #e2e2e2;
}
.factor .factor-page .checkout-table table thead tr td {
  border-left: solid 1px #e2e2e2;
  padding: 25px 20px;
}
.factor .factor-page .checkout-table table thead tr td:last-child {
  border-left: none;
}
.factor .factor-page .checkout-table table thead tr td.code {
  width: 11%;
}
.factor .factor-page .checkout-table table thead tr td.title {
  width: 60%;
  padding: 25px 30px;
}
.factor .factor-page .checkout-table table thead tr td.price {
  min-width: 25%;
}
.factor .factor-page .checkout-table table tbody {
  color: #737373;
  font-size: 18px;
  font-weight: 500;
  line-height: 55px;
}
.factor .factor-page .checkout-table table tbody tr {
  background-color: #ffffff;
  border-bottom: solid 1px #e2e2e2;
}
.factor .factor-page .checkout-table table tbody tr td {
  border-left: solid 1px #e2e2e2;
}
.factor .factor-page .checkout-table table tbody tr td:last-child {
  border-left: none;
}
.factor .factor-page .checkout-table table tbody tr td.title {
  padding: 0 30px;
}
.factor .factor-page .checkout-table table tfoot {
  font-size: 18px;
  font-weight: 700;
  color: #4c4c4c;
  line-height: 45px;
}
.factor .factor-page .checkout-table table tfoot tr.discount-tr {
  border-top: solid 1px #e2e2e2;
}
.factor .factor-page .checkout-table table tfoot tr.discount-tr td {
  border-left: solid 1px #e2e2e2;
  padding: 11px 0;
}
.factor .factor-page .checkout-table table tfoot tr.discount-tr td:first-child {
  padding: 0 6px;
}
.factor .factor-page .checkout-table table tfoot tr.discount-tr td:last-child {
  border-left: none;
}
.factor .factor-page .checkout-table table tfoot tr.discount-tr td.discount-title {
  padding: 0 54px;
}
.factor .factor-page .checkout-table table tfoot tr.discount-tr td.discount-price {
  border-right: solid 1px #e2e2e2;
}
.factor .factor-page .checkout-table table tfoot tr.total-tr {
  border-top: solid 1px #e2e2e2;
}
.factor .factor-page .checkout-table table tfoot tr.total-tr td {
  padding: 13px 0;
}
.factor .factor-page .payment-method .block-payment {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 16px 35px 49px 35px;
}
.factor .factor-page .payment-method .block-payment .field-block label {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  color: #404040;
  font-weight: 500;
}
.factor .factor-page .payment-method .block-payment .field-block select {
  width: 100%;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  height: 35px;
  padding: 0 13px;
  color: #74758f;
  font-weight: 500;
  -webkit-appearance: none;
  background: #fafafa url(../../../images/base/down-arrow.svg) no-repeat 17px center;
  cursor: pointer;
}
.factor .factor-page .payment-method .block-payment .payment-btn .back-btn {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.factor .factor-page .payment-method .block-payment .payment-btn .back-btn .back {
  border-radius: 5px;
  border: 1px solid #a2a2a2;
  background-color: #fff;
  padding: 8px 22px;
  color: #a2a2a2;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
.factor .factor-page .payment-method .block-payment .payment-btn .back-btn .back:hover {
  border: 1px solid #ff3600;
  color: #ff3600;
}
.factor .factor-page .payment-method .block-payment .pay-btn {
  display: inline-block;
  vertical-align: middle;
}
.factor .factor-page .payment-method .block-payment .pay-btn .pay {
  box-shadow: 0 7px 35px rgba(6, 130, 106, 0.2);
  border-radius: 5px;
  background-color: #06826a;
  padding: 9px 70px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}
.factor .factor-page .payment-method .block-payment .pay-btn .pay:hover {
  background-color: #02715b;
}
.factor .factor-page .payment-method .block-payment .inventory-wallet {
  margin-top: 32px;
}
.factor .factor-page .payment-method .block-payment .inventory-wallet span {
  color: #4c4c4c;
  font-size: 16px;
  font-weight: 500;
}
.factor .factor-page .payment-method .block-payment .inventory-wallet .inventory-box {
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  background-color: #fafafa;
  padding: 3px 26px;
  margin: 0 7px;
}
.factor .footer-factor .block-footer {
  background-color: #f2f2f2;
  padding: 15px 0;
  margin-top: -32px;
}
.factor .footer-factor .block-footer .contact-us {
  color: #4c4c4c;
  font-size: 18px;
  font-weight: 500;
}
.factor .footer-factor .block-footer .web-address {
  color: #4c4c4c;
  font-size: 18px;
  font-weight: 500;
}/*# sourceMappingURL=factor-style.css.map */